<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- Use encoder tag to disable logback's own log statements -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>
	
	<!-- <property resource="/messages/context-config.properties" /> -->

	<!-- <appender name="TIME_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.home.dir}/${log.filename}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			daily rollover
			<fileNamePattern>${log.home.dir}/${log.filename}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender> -->
	

	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.apache.commons" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<root level="INFO" >
		<appender-ref ref="STDOUT" />
	</root>

</configuration>